      
      <div class="container">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="validate(loginForm.value)">
                    <input type="text" id="inputUsername" name="username" formControlName="username" class="form-control" placeholder="Please enter your username" required autofocus>
                    <input type="password" name="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Please enter your password" required>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form><!-- /form -->
            </div><!-- /card-container -->
        </div><!-- /container -->
    